((* raw *))
\documentclass[letterpaper,11pt]{article}
\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\usepackage{fontawesome5}
\usepackage{multicol}
\setlength{\multicolsep}{-3.0pt}
\setlength{\columnsep}{-1pt}
\input{glyphtounicode}
\pagestyle{fancy}
\fancyhf{}
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}
\addtolength{\oddsidemargin}{-0.9in}
\addtolength{\evensidemargin}{-0.9in}
\addtolength{\textwidth}{1.64in}
\addtolength{\topmargin}{-.9in}
\addtolength{\textheight}{1.5in}
\urlstyle{same}
\raggedbottom
\raggedright
\setlength{\tabcolsep}{0in}
\titleformat{\section}{
  \vspace{-4pt}\scshape\raggedright\large\bfseries
}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]
\pdfgentounicode=1

% Commands
\newcommand{\resumeItem}[1]{ \vspace{-2pt}
  \item\small{#1\vspace{-3pt}}
}

\newcommand{\resumeSubheading}[4]{
  \vspace{-2pt}
  \item \parbox{\textwidth}{
    \textbf{#1} \hfill \textbf{\small #2} \\
    \textit{\small #3} \hfill \textit{\small #4}\vspace{-7pt}
  }
}

\newcommand{\resumeProjectHeading}[2]{ \vspace{-9pt}
  \item \parbox{\textwidth}{
    \small#1 \hfill \textbf{\small #2} \\
    \vspace{-47pt}
  }
}

\renewcommand\labelitemi{$\vcenter{\hbox{\tiny$\bullet$}}$}
\renewcommand\labelitemii{$\vcenter{\hbox{\tiny$\bullet$}}$}
\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.0in, label={}]}  
\newcommand{\resumeSubHeadingListEnd}{\end{itemize} \vspace{-16pt}}
\newcommand{\resumeItemListStart}{\begin{itemize}}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-9pt}}

\begin{document}
((* endraw *))
%----------------- HEADER -----------------
\begin{center}
    {\Huge \scshape (((personalInfo.name))) } \\ \vspace{1pt}
    (((personalInfo.location))) \\ \vspace{1pt}
    \small \makebox[\textwidth][c]{
        \raisebox{-0.1\height}\faPhone\ (((personalInfo.phone))) ~ 
        \href{mailto:(((personalInfo.email)))}{\raisebox{-0.2\height}\faEnvelope\ \underline{(((personalInfo.email)))}} ~ 
        ((* if personalInfo.linkedin *))
        \href{(((personalInfo.linkedin)))}{\raisebox{-0.2\height}\faLinkedin\ \underline{(((personalInfo.linkedin.replace("https://", "").replace("www.", ""))))}} ~ 
        ((* endif *))
        ((* if personalInfo.github *))
        \href{(((personalInfo.github)))}{\raisebox{-0.2\height}\faGithub\ \underline{(((personalInfo.github.replace("https://", "").replace("www.", ""))))}}
        ((* endif *))
    }
    \vspace{-17pt}
\end{center}

%----------------- EDUCATION -----------------
((* if educations *))
\section{Education}
  \resumeSubHeadingListStart
  ((* for edu in educations *))
    \resumeSubheading{(((edu.instituteName)))}{(((edu.startDate))) -- (((edu.endDate or "Present")))}{(((edu.courseName))) -- (((edu.grade or "")))}{(((edu.location or "")))}
  ((* endfor *))
  \resumeSubHeadingListEnd
((* endif *))

%----------------- Relevant Coursework -----------------
((* if relevantCoursework *))
\section{Relevant Coursework}
\begin{multicols}{4}
  \begin{itemize}[itemsep=-5pt, parsep=3pt]
  \small ((* for work in relevantCoursework *)) \item (((work))) ((* endfor *))
  \end{itemize}
\end{multicols}
\vspace*{2.0\multicolsep}
((* endif *))

%----------------- Experience -----------------
((* if workExperiences *))
\section{Experience}
  \resumeSubHeadingListStart
  ((* for exp in workExperiences *))
    \resumeSubheading{(((exp.organization)))}{(((exp.startDate))) -- (((exp.endDate or "Present")))}{(((exp.position)))}{(((exp.location or "")))}
    ((* if exp.description *))
      \resumeItemListStart
      ((* for desc in exp.description.splitlines() *))
        \resumeItem{(((desc.strip())))}
      ((* endfor *))
      \resumeItemListEnd
    ((* endif *))
  ((* endfor *))
  \resumeSubHeadingListEnd
((* endif *))

%----------------- Projects -----------------
((* if projects *))
\section{Projects}
  \resumeSubHeadingListStart
  ((* for pro in projects *))
    \resumeProjectHeading{\textbf{(((pro.title)))} ((* if pro.techStack *)) $|$ \emph{(((pro.techStack))) } ((* endif *))}{(((pro.date))) ((* if pro.link *)) \href{(((pro.link)))}{\raisebox{-0.2\height}\faGithub\ \underline{View Project}} ((* endif *))}
    ((* if pro.description *))
      \resumeItemListStart
        ((* for desc in pro.description.splitlines() *))
          \resumeItem{(((desc.strip())))}
        ((* endfor *))
      \resumeItemListEnd
    ((* endif *))
  ((* endfor *))
  \resumeSubHeadingListEnd
((* endif *))

%----------------- Technical Skills -----------------
((* if skills *))
\section{Skills}
\begin{itemize}[leftmargin=0.11in, label={}] \small
  ((* for skill in skills *))
    \item{
      \textbf{(((skill.group)))}: ((* set skill_list = [] *)) ((* for member in skill.members *)) ((* set _ = skill_list.append(member.name ~ ' - ' ~ member.level) *)) ((* endfor *)) (((', '.join(skill_list))))} \vspace{-6pt}
  ((* endfor *))
\end{itemize}
\vspace{-17pt}
((* endif *))

%----------------- Certifications -----------------
((* if certifications *))
\section{Certifications}
  \resumeItemListStart
    ((* for cert in certifications *))
    \resumeItem{(((cert.title))) -- (((cert.issuingAuthority))) \hfill (((cert.issueDate)))}
    ((* endfor *))
  \resumeItemListEnd
((* endif *))

%----------------- Awards -----------------
((* if awards *))
\section{Awards}
  \resumeItemListStart
    ((* for awa in awards *))
    \resumeItem{(((awa.title))) -- (((awa.organization))) \hfill (((awa.dateEarned)))}
    ((* endfor *))
  \resumeItemListEnd
((* endif *))

%----------------- Volunteering -----------------
((* if volunteering *))
\section{Volunteering and Leaderships}
  \resumeSubHeadingListStart
  ((* for vol in volunteering *))
    \resumeSubheading{(((vol.organization)))}{(((vol.startDate))) -- (((vol.endDate or "Present")))}{(((vol.role)))}{(((vol.location)))}
    ((* if vol.description *))
      \resumeItemListStart
      ((* for desc in vol.description.splitlines() *))
        \resumeItem{(((desc.strip())))}
      ((* endfor *))
      \resumeItemListEnd
    ((* endif *))
  ((* endfor *))
  \resumeSubHeadingListEnd
((* endif *))

%----------------- Publications -----------------
((* if publications *))
\section{Publications}
  \resumeSubHeadingListStart
  ((* for pub in publications *))
    ((* if pub.link *))
      set link = \href{(((pub.link)))}{\underline{link}}
    ((* endif *))
    \resumeProjectHeading{\textbf{(((pub.title))) $|$ (((pub.publisher)))}}{(((pub.publishedDate))) (((link or "")))}
    ((* if pub.abstract *))
      \resumeItemListStart
          \resumeItem{(((pub.abstract.strip())))}
      \resumeItemListEnd
    ((* endif *))
  ((* endfor *))
  \resumeSubHeadingListEnd
((* endif *))

%----------------- Languages -----------------
((* if languages *))
\section{Languages}
\begin{itemize}[leftmargin=0.11in, label={}] \small
  ((* for lang in languages *))
    \item{\textbf{(((lang.name)))}: (((lang.level)))}
  ((* endfor *))
\end{itemize}
\vspace{-17pt}
((* endif *))
\end{document}